* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding: 40px;
  font-family: Montserrat;
}

.wrapper {
  background-color: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.contacts-link-type {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-weight: 700;
  margin-right: 10px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.tech-skills-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}

.tech-skills-text {
  color: #ffffff;
}

.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.soft-skills-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}

.soft-skills-text {
  color: #ffffff;
}

.position {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
  letter-spacing: 0.42px;
}

.main-info-container {
  margin-bottom: 65px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-links {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: #a8a8a8;
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
}

.projects-number {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 20px;
}

.projects-container {
  margin-bottom: 55px;
}

.experience-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.experience-company-name {
  color: #ff6b08;
}

.experience-duration {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.experience-duration-divider {
  color: #000000;
}

.work-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.work-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.university-name {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
}

.education-details {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}
